@import'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap';
@charset "utf-8";

@font-face {
    src: url(/admin/common/fonts/glyphs.woff2?f7417bc749f9a8766f95b20e8d33fe73) format("woff2"), url(/admin/common/fonts/glyphs.woff?f7417bc749f9a8766f95b20e8d33fe73) format("woff");
    font-family: glyphs
}

i[class^=glyphs-]:before,
i[class*=" glyphs-"]:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: glyphs !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400 !important;
    line-height: 1;
    text-transform: none
}

.glyphs-home:before {
    content: "\f101"
}

.glyphs-logout:before {
    content: "\f102"
}

.glyphs-pc:before {
    content: "\f103"
}

.glyphs-time:before {
    content: "\f104"
}

body {
    color: #282828;
    font-family: Noto Sans JP, sans-serif !important
}

input[type=file] {
    max-width: 100%
}

img {
    max-width: 100%
}

.login #content {
    background-color: #e2e2e2
}

.login #error_message_waku {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.login footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-right: -50%;
    padding: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: none;
    font-size: 12px;
    letter-spacing: .1em
}

.login__content {
    position: relative;
    padding: 0 !important
}

.login__header {
    display: none
}

.login__title-area {
    display: none
}

.login__inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    padding: 0 !important
}

.login__box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 680px;
    max-width: 100% !important;
    margin: 0 !important;
    margin-right: -50%;
    padding: 0 !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.login__caption {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 430px;
    height: 106px;
    margin: 0 auto;
    margin-bottom: 50px !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: transparent !important;
    background-image: url(../images/theme/logo.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px
}

.login__table-area {
    margin: 0 !important;
    padding: 0 !important
}

.login__table {
    display: block;
    margin-bottom: 50px !important
}

.login__table tbody,
.login__table tr,
.login__table td {
    display: block
}

.login__table tr:nth-of-type(n+2) {
    margin-top: 30px
}

.login__table td {
    padding: 0 !important;
    border: none !important
}

.login__table td:nth-of-type(1) {
    display: none
}

.login__table td input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px !important;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #282828;
    font-size: 16px
}

.login .btn_area .btn_confirm,
.login .btn_area .btn_back {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 326px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1
}

.login .btn_area .btn_confirm i,
.login .btn_area .btn_back i {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 11px
}

.login .btn_area .btn_confirm:hover,
.login .btn_area .btn_back:hover {
    background-color: #c4c4c4
}

.login .btn_area .btn_confirm {
    background-color: #282828
}

.login .btn_area .btn_back {
    background-color: #909090;
    color: #fff
}

.user__title {
    width: 202px
}

.user__title img {
    width: 100%
}

.user-layout header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70px;
    padding-left: 16px;
    border-bottom: 1px solid #cbcbcb;
    background-color: #fff
}

.user-layout header .status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    float: none
}

.user-layout header .status .link_logout {
    pointer-events: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.user-layout header .status span {
    display: inline-block;
    height: auto;
    padding: 0;
    float: none;
    background: none;
    color: currentColor;
    line-height: 1
}

.user-layout header .status>span,
.user-layout header .status>a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 105px;
    border-left: 1px solid #cbcbcb;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none
}

.user-layout header .status>span.logout,
.user-layout header .status>a.logout {
    background-color: #505050;
    color: #fff
}

.user-layout header .status>span.logout i,
.user-layout header .status>a.logout i {
    color: #fff
}

.user-layout header .status a {
    -webkit-transition: all .3s cubic-bezier(.4, 0, .2, 1);
    -o-transition: all .3s cubic-bezier(.4, 0, .2, 1);
    transition: all .3s cubic-bezier(.4, 0, .2, 1)
}

.user-layout header .status a:hover {
    background-color: #c4c4c4;
    color: #fff
}

.user-layout header .status i {
    margin-bottom: 8px;
    color: #828282;
    font-size: 24px
}

.user-layout footer {
    margin-top: 40px;
    background-color: #e2e2e2
}

.user-layout #side {
    margin-left: 246px !important
}

.user-layout #content {
    padding-top: 70px;
    padding-left: 246px !important;
    background-color: #e2e2e2
}

.user-layout #content .title_area h1 {
    font-size: 28px;
    font-weight: 500
}

.user-layout #content .title_area .pankuzu {
    font-size: 14px
}

.user-layout #content .content_inr {
    min-height: calc(100vh - 306px);
    padding-top: 40px;
    padding-bottom: 0
}

.user-layout #content .content_inr .box {
    padding-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.user-layout #content .content_inr .box h3.box_h3 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    margin-bottom: 30px !important;
    padding: 0;
    padding: 0 20px;
    background-color: #505050;
    color: #fff;
    font-size: 20px
}

.user-layout #content .content_inr .box h3.box__caption--count {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.user-layout #content .content_inr .box h3.box__caption--count .count {
    font-size: 16px
}

.user-layout #content .content_inr .box>.btn_area {
    padding-left: 30px
}

.user-layout #content .content_inr .box>.table_area {
    margin: 30px 0;
    margin-bottom: 0;
    padding: 0 30px
}

.user-layout #content .content_inr .box>.table_area .table__list {
    margin-bottom: 30px
}

.user-layout #content .content_inr .box>.table_area .table__list th,
.user-layout #content .content_inr .box>.table_area .table__list td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px
}

.user-layout #content .content_inr .box>.table_area .table__list th:nth-of-type(1),
.user-layout #content .content_inr .box>.table_area .table__list td:nth-of-type(1) {
    text-align: center
}

.user-layout #content .content_inr .box>.table_area .table__list th {
    border-bottom: none;
    background-color: #828282;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap
}

.user-layout #content .content_inr .box>.table_area .table__list th+th {
    border-left: 1px solid #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__list td {
    font-size: 16px
}

.user-layout #content .content_inr .box>.table_area .table__list td>a {
    color: currentColor;
    text-decoration: none
}

.user-layout #content .content_inr .box>.table_area .table__list td>a:hover {
    text-decoration: underline
}

.user-layout #content .content_inr .box>.table_area .table__list td:not(.old-style) {
    border-color: #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__list .unvisible {
    background-color: #ededed
}

.user-layout #content .content_inr .box>.table_area .table__edit {
    margin-bottom: 30px
}

.user-layout #content .content_inr .box>.table_area .table__edit td {
    padding: 20px 15px;
    border-color: #cbcbcb;
    font-size: 16px
}

.user-layout #content .content_inr .box>.table_area .table__edit td:nth-of-type(1),
.user-layout #content .content_inr .box>.table_area .table__edit td.head {
    background-color: #ededed
}

.user-layout #content .content_inr .box>.table_area .table__edit td>ul li,
.user-layout #content .content_inr .box>.table_area .table__edit td .manu>ul li {
    display: block
}

.user-layout #content .content_inr .box>.table_area .table__edit td>ul li:nth-of-type(n+2),
.user-layout #content .content_inr .box>.table_area .table__edit td .manu>ul li:nth-of-type(n+2) {
    margin-top: 20px
}

.user-layout #content .content_inr .box>.table_area .table__edit td>ul input[type=file],
.user-layout #content .content_inr .box>.table_area .table__edit td .manu>ul input[type=file] {
    border: none
}

.user-layout #content .content_inr .box>.table_area .table__edit td>ul .remark,
.user-layout #content .content_inr .box>.table_area .table__edit td .manu>ul .remark {
    margin-top: .5em;
    color: #767676;
    font-size: 14px
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap {
    overflow: hidden;
    border: 2px solid #cbcbcb;
    border-radius: 5px
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap table {
    border-collapse: separate
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap th,
.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap td {
    border-top: none;
    border-left: none
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap th:nth-last-of-type(1),
.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap td:nth-last-of-type(1) {
    border-right: none
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap tr:nth-last-of-type(1) th,
.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap tr:nth-last-of-type(1) td {
    border-bottom: none
}

.user-layout #content .content_inr .box>.table_area .table__edit td .sub-unit__wrap h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 38px;
    padding-left: 15px;
    border-bottom: 1px solid #cbcbcb;
    background-color: #ededed
}

.user-layout #content .content_inr .box>.table_area .table__edit input[type=text] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px !important;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #282828;
    font-size: 16px
}

.user-layout #content .content_inr .box>.table_area .table__edit input[type=text] {
    padding: 10px !important;
    border: 1px solid #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__edit .redactor-box.redactor-styles-on {
    border: 1px solid #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__edit .td__movable {
    background-image: url(/user/common/images/theme/bg_stripe.png)
}

.user-layout #content .content_inr .box>.table_area .table__edit .btn_list_delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px !important;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: #828282;
    color: #fff;
    font-size: 14px
}

.user-layout #content .content_inr .box>.table_area .table__edit .btn_list_delete:hover {
    background-color: #c4c4c4
}

.user-layout #content .content_inr .box>.table_area .table__edit .sort_handle {
    width: 37px;
    height: 37px;
    background-image: url(/user/common/images/theme/icon_move.png);
    background-size: 37px 37px;
    -webkit-transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
    -o-transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
    transition: opacity .3s cubic-bezier(.4, 0, .2, 1);
    will-change: opacity
}

.user-layout #content .content_inr .box>.table_area .table__edit .sort_handle:hover {
    opacity: .7
}

.user-layout #content .content_inr .box>.table_area .table__meta {
    margin-bottom: 30px
}

.user-layout #content .content_inr .box>.table_area .table__meta td {
    padding: 20px;
    border-color: #cbcbcb;
    font-size: 16px
}

.user-layout #content .content_inr .box>.table_area .table__meta td .btn_area {
    margin-top: 10px !important
}

.user-layout #content .content_inr .box>.table_area .table__meta td:nth-of-type(1) {
    background-color: #ededed
}

.user-layout #content .content_inr .box>.table_area .table__meta td input[type=text] {
    @extend %input-field;
    padding: 10px !important;
    border: 1px solid #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__meta td select {
    border: 1px solid #cbcbcb
}

.user-layout #content .content_inr .box>.table_area .table__meta>td>span {
    margin-top: .5em;
    color: #767676;
    font-size: 14px
}

.user-layout #content .content_inr .box>.table_area .table__meta td span.attent {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0;
    padding: 0 .5em;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #ab3030;
    font-size: 12px;
    font-weight: 400
}

.user-layout #content .content_inr .box>.table_area .table__meta td.edit_image_area li {
    display: block
}

.user-layout #content .content_inr .box>.table_area .table__meta td.edit_image_area li:nth-of-type(n+2) {
    margin-top: 20px
}

.user-layout #content .content_inr .box>.table_area .table__meta td.edit_image_area input[type=file] {
    border: none
}

.user-layout #content .content_inr .box>.table_area .table__meta td.edit_image_area .remark {
    margin-top: .5em;
    color: #767676;
    font-size: 14px
}

.user-layout #content .content_inr .box>.table_area .table__block {
    margin-bottom: 30px
}

.user-layout #content .content_inr .box>.table_area .table__block td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-color: #cbcbcb;
    font-size: 16px
}

.user-layout #content .content_inr .box>.table_area .table__block td:nth-of-type(1) {
    background-color: #ededed
}

.user-layout #content .content_inr .box>.table_area .table__block td.head {
    width: auto !important;
    background-color: #505050;
    color: #fff;
    font-weight: 500
}

.user-layout #content .content_inr .box>.table_area .table__block .btn_area a.small_menu_btn {
    padding: .8em 1.5em;
    border: none;
    border-radius: 4px;
    background-color: #505050;
    line-height: 1;
    white-space: nowrap
}

.user-layout #content .content_inr .box>.table_area .table__block .btn_area a.small_menu_btn:hover {
    background-color: #c4c4c4
}

.user-layout #content .btn_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 !important
}

.user-layout #content .btn_area--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.user-layout #content .btn_area .btn_delete,
.user-layout #content .btn_area .submitButton,
.user-layout #content .btn_area .btn_post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #ab3030;
    color: #fff;
    font-size: 16px;
    font-weight: 500
}

.user-layout #content .btn_area .btn_delete:hover,
.user-layout #content .btn_area .submitButton:hover,
.user-layout #content .btn_area .btn_post:hover {
    background-color: #c4c4c4
}

.user-layout #content .btn_area .submitButton {
    margin: 0
}

.user-layout #content .btn_area .btn_delete {
    margin: 0;
    background-color: #828282
}

.user-layout #content .btn_area .btn_send {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 280px !important;
    height: 58px !important;
    padding: 0;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #828282;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1
}

.user-layout #content .btn_area .btn_send:after {
    speak: none;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: iconfont !important;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    content: '\e902'
}

.user-layout #content .btn_area .btn_send:hover {
    background-color: #c4c4c4
}

.user-layout #content .btn_area .btn_send:nth-of-type(n+2) {
    margin-left: 20px
}

.user-layout #side {
    padding-top: 70px;
    background-color: #505050
}

.user-layout #side nav {
    padding-top: 40px
}

.user-layout #side .scrollbar {
    height: auto;
    padding: 0
}

.user-layout #side .menu li {
    border-bottom: 1px solid #828282
}

.user-layout #side .menu li .submenu {
    background-color: #828282
}

.user-layout #side .menu li .submenu a {
    font-size: 14px
}

.user-layout #side .menu li .submenu li+li {
    border-top: 1px solid #cbcbcb
}

.user-layout #side .parent_link,
.user-layout #side .menu a {
    font-size: 16px
}

.user-layout .visi,
.user-layout .unvisi {
    display: inline-block;
    width: 80px;
    background: none
}

.user-layout .visi a,
.user-layout .unvisi a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 33px;
    border-radius: 4px;
    font-size: 14px
}

.user-layout .visi a {
    background-color: #ab3030
}

.user-layout .unvisi a {
    background-color: #a7a7a7
}

.user-layout .prev a {
    margin: 0 auto
}

.pagenation {
    margin: 50px 0;
    padding: 0
}

.pagenation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pagenation li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #e4e4e4
}

.pagenation li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.5rem;
    text-decoration: none;
    text-indent: 0;
    -webkit-transition: all .3s cubic-bezier(.4, 0, .2, 1);
    -o-transition: all .3s cubic-bezier(.4, 0, .2, 1);
    transition: all .3s cubic-bezier(.4, 0, .2, 1)
}

.pagenation li a:hover {
    background-color: #ab3030;
    color: #fff
}

.pagenation li.active a {
    background-color: #ab3030;
    color: #fff;
    pointer-events: none
}

.pagenation li:nth-of-type(n+2) {
    margin-left: 15px
}